.hero {
  position: relative;
  padding: v.$spacing-lg 0;
  text-align: center;

  &__image {
    display: flex;
    justify-content: center;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: v.$color-dark;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: v.$color-muted;
  }

  &__image img {
    border-radius: v.$border-radius;
    max-width: 780px;
    width: 100%;
  }
}
